sudo: false

branches:
    only:
        - master

language: php

php:
    - '7.1'

before_install:
    - phpenv config-rm xdebug.ini
    - git config --global user.email 'damien.flament@gmx.com'
    - git config --global user.name  'Damien Flament'

install:
    - git clone https://github.com/sebastianbergmann/phpunit.git phpunit
    - git clone --branch=gh-pages https://github.com/damienflament/phpunit-api-docs.git gh-pages
    - rm -Rf gh-pages/*

before_script:
    - composer install --prefer-dist

script:
    - vendor/bin/sami.php update phpunit.php --no-interaction --quiet
    - cd gh-pages
    - git add *
    - git commit -m 'Automatic update by Travis.'
