sudo: false

branches:
    only:
        - master

language: php

php:
    - '7.1'

before_install:
    - phpenv config-rm xdebug.ini

install:
    - git clone https://github.com/sebastianbergmann/phpunit.git phpunit

before_script:
    - composer install --prefer-dist

script:
    - git clone --branch=gh-pages https://github.com/damienflament/phpunit-api-docs.git gh-pages
    - rm -Rf gh-pages/*
    - vendor/bin/sami.php update phpunit.php --no-interaction --quiet
