<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="refresh" content="3; url=''" />
    </head>
    <body>
        <p>Redirecting to <a href="" >the documentation.</a><p/>
    </body>
</html>
